name: Publish to pub.dev

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish Package
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for authentication using OIDC

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install dependencies
        run: dart pub get

      - name: Verify package
        run: dart pub publish --dry-run

      - name: Publish package
        run: dart pub publish --force
